# dependencies
**/node_modules
.pnpm-store

# testing
**/coverage

# build
**/dist
**/build
**/dist-zip
chrome-extension/manifest.js
**/*.tsbuildinfo

# env
**/.env.*
**/.env

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# etc
.DS_Store
.idea
**/.turbo
.vscode
*.swp
*.swo
*~

# compiled
**/tailwind-output.css

# temp files
/tmp/
*.tmp
